.heroBanner {
  padding: 4rem 0;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  padding: 3rem 0;
}

.card {
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 0.75rem;
  height: 100%;
  padding: 1.5rem;
}
